.AddressChange{
    background-color: #FFFFFF;
    width: 95px;
    height: 32px;
    border-radius: 8px;
    border-color: #F8B602;
    border-width: 1px;
    color: #F8B602;
    margin-left: auto;

}

.AddNote{
    background-color: #FFFFFF;
    width: 95px;
    height: 32px;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    color: black;

}
