.main{
    width: 1000px;
    max-width: 1040px;
    margin-top: 20px;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.cards{
    display: flex;
    gap: 15px;
}
