/*455 - 1626*/
.Main{
    width: 455px;
    height: 1626px;
    background-color: #FFFFFF;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.RightMenuItem{
    width: 380px;
}
